---
layout: page
title: Muffins
---
<h1>Our cupcakes</h1>

<div class="cupcakes">
	{% for cupcake in site.cupcakes %}
		<<div class="cupcake">
			<div class="image">
				<img src="{{ cupcake.image_path }}" alt="{{ cupcake.type }}"
				style="-webkit-filter: {% cycle "grayscale", "sepia", "invert" %} (100%)" />
			</div>
			<h2 {% if forloop.first or forloop.last %} style="background: black; color: white;" {% endif %}>{{ forloop.index }}. {{ cupcake.type }}</h2>
			<p>{{ cupcake.description }}</p>
		</div>
		{% endfor %}
</div>
